


.mainBars rect{
  shape-rendering: auto;
  fill-opacity: 0;
  stroke-width: 0px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
.subBars{
 shape-rendering:crispEdges;
}
.edges{
 stroke:none;
 fill-opacity:0.5;
}
.header{
 text-anchor:middle;
 font-size:16px;
}
line{
 stroke:grey;
}

 


  .link {
        fill: none;
        stroke: #555;
        stroke-opacity: 0.4;
        stroke-width: 1px;
    }
    text {
        font-family: "Arial Black", Gadget, sans-serif;
        fill: black;
       font-size: 14px
    }

    .xAxis .tick text{
        fill: black;
    }
    .grid .tick line{
        stroke: grey;
        stroke-dasharray: 5, 10;
        opacity: 0.7;
    }
    .grid path{
        stroke-width: 0;
    }

    .node circle {
        fill: #999;
    }
    .node--internal circle {
        fill: #555;
    }
    .node--internal text {
        font-size: 16px;
        text-shadow: 0 2px 0 #fff, 0 -2px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
    }
    .node--leaf text {
        fill: white;
    }
    .ballG text {
        fill: white;
    }

    .shadow {
        -webkit-filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
        filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
    }